@font-face {
    font-family: 'iconfont';  /* Project id 2655431 */
    src: url('//at.alicdn.com/t/font_2655431_7agn7nysfvk.woff2?t=1626607634690') format('woff2'),
            url('//at.alicdn.com/t/font_2655431_7agn7nysfvk.woff?t=1626607634690') format('woff'),
            url('//at.alicdn.com/t/font_2655431_7agn7nysfvk.ttf?t=1626607634690') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
