$baseColor: rgb(28, 172, 234);
$baseGreenColor: rgb(53,217,96);
$fontColor6: #666;
$borderColor: .01rem solid rgb(0, 0, 0, .1);
$priceColor: #f60;
$bgColorWhite: #fff;
$colorGrey: #ccc;
$priceColor: rgb(255, 30, 25);

